{% extends 'base.html.twig' %}

{% block body %}
	<section id="hero">
		<div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
			<h1>Bienvenue sur IBOOK</h1>
			<h2>Venez découvrir la liste de nos plus beaux livres</h2>
			<h3>
				<b>
					<a href="{{ path ('app_login')}}" class="btn-get-started">Commencer</a>
				</b>
			</h3>
		</div>
	</section>
{% endblock %}
