{% extends 'base.html.twig' %}

{% block title %}Hello BookController!
{% endblock %}

{% block body %}

	<div class="row">
		{% for book in lastBooks %}

			<div class="col-3">
				<section id="portfolio" class="portfolio ">
					<div class="container" data-aos="fade-up">


						<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

							<div class="portfolio-item filter-app">
								<img src="{{book.image}}" class="img-fluid" alt="">
								<div class="portfolio-info">
									<h4>{{book.title}}</h4>
									<h4>{{book.author}}</h4>
									<h4>Publié le
										{{book.CreatedAt|date ('d/m/y')}}</h4>

								</a>
							</div>
						</div>

					</div>

				</section>
			</div>

		{% endfor %}
	</div>
{% endblock %}
